ELASTIC_URL=https://f427dfc2751c468f942dcf7e7d46b323.us-central1.gcp.cloud.es.io:443
ELASTICSEARCH_URL=https://f427dfc2751c468f942dcf7e7d46b323.us-central1.gcp.cloud.es.io:443
ELASTIC_API_KEY=your-api-key-here
ELASTICSEARCH_API_KEY=your-api-key-here
KIBANA_URL=https://klg-slb-workshop-arch02-939ab5.kb.us-central1.gcp.cloud.es.io
ELASTIC_OTLP_ENDPOINT=https://f427dfc2751c468f942dcf7e7d46b323.apm.us-central1.gcp.cloud.es.io
INGEST_URL=https://f427dfc2751c468f942dcf7e7d46b323.apm.us-central1.gcp.cloud.es.io
