ELASTIC_URL=https://slbworkshoparch02-f3f54b.es.us-central1.gcp.elastic.cloud:443
ELASTICSEARCH_URL=https://slbworkshoparch02-f3f54b.es.us-central1.gcp.elastic.cloud:443
ELASTIC_API_KEY=your-api-key-here
ELASTICSEARCH_API_KEY=your-api-key-here
KIBANA_URL=https://slbworkshoparch02-f3f54b.kb.us-central1.gcp.elastic.cloud
ELASTIC_OTLP_ENDPOINT=https://slbworkshoparch02-f3f54b.ingest.us-central1.gcp.elastic.cloud
INGEST_URL=https://slbworkshoparch02-f3f54b.ingest.us-central1.gcp.elastic.cloud
